@font-face {
    font-family: 'League Spartan';
    src: url(/room/font/LeagueSpartan-VariableFont_wght.ttf);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body{
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color: white;
}

nav{
    position: absolute;
	height: 50px;
	width: 100%;
	z-index: 2;
}

ul{
	position: absolute;
	top: 90px;
    left: 70px;
}

li{
    display: inline;
	margin: 25px;
	color: white;
	font-size: 1.5rem;
}

.taille-nav{
    font-size: 1.8rem;
}

.text-t{
    position: absolute;
    width: 400px;
    display: inline-block;
    top: 191px;
    height: 535px;
    width: 100px;
    left: 1250px;
    text-align: left;
}

.placement-text{
    position: relative;
    top: 10%;
    padding-left: 20%;
    line-height: 22px;
}

.text-taille{
    font-size: 4rem;
    width: 500px;
}

.deborde{
    width: 450px;
}

.icone-fleche{
    position: relative;
    top: 24px;
    left: 125px;
}

.noir{
    position: relative;
    height: 60px;
    width: 130px;
    background-color: black;
    top: 157px;
    left: -128px;
}

body{
    font-family: 'League Spartan';
}

footer .parent{
    width: 100%;
    margin-top: -5px;
}

footer .imagegauche{
    display: inline-block; width: 25%; vertical-align:middle;
    text-align: center;
}

footer .imagedroite{
    display: inline-block; width: 26.3%; vertical-align:middle;
    text-align: center;
}

footer .centre{
    display: inline-block; width: 37.4%; vertical-align:middle;
    padding: 0 2% 0 2%;
}

footer .parent .centre h1{
    margin-bottom: 3%;
}

footer .parent .centre p{
     color: gray;
}


footer .imagegauche img, footer .imagedroite img{
    width: 100%;
}

footer{
	line-height: 1.5;
}